<div class="container-fluid bg">
  <div class="row d-flex justify-content-center align-items-center">
<div class="col-md-6">
<section class="vh-40">
    <div class="container py-2 h-80">
      <div class="row d-flex justify-content-left align-items-center h-80">
        <div class="col-12 col-md-12 col-lg-9 col-xl-9">
          <div class="card shadow-2-strong rounded">
            <div class="card-body px-5 text-center py-1">

              <h3 class="mb-1 mt-4 text-white col-md-12 bg-info rounded-pill">Cadastro</h3>

              <div class="form-group" style='text-align:left'>
                <label for="name">Nome:</label>
                <input [(ngModel)]="user.name" type=""class="form-control" type="text" name="name" id="name"
                        placeholder="Seu Nome">
              </div>

              <div class="form-group" style='text-align:left'>
                <label for="email">Usuário:</label>
                <input [(ngModel)]="user.email" class="form-control" type="email" name="email" id="email"
                placeholder="Digite um E-mail Válido">
            </div>

            <div class="form-group" style='text-align:left'>
              <label for="photo">Foto:</label>
              <input [(ngModel)]="user.photo" type=""class="form-control" type="text" name="photo" id="photo"
                      placeholder="Cole aqui o Link da sua foto">
            </div>

            <div class="form-group" style='text-align:left'>
                <label for="password">Senha:</label>
                <input (input)="confirmSenha($event)" class="form-control" type="password" name="password" id="password"
                placeholder="Sua senha">
            </div>

            <div class="form-group" style='text-align:left'>
                <label for="confirmsenha">Confirmar Senha:</label>
                <input [(ngModel)]="user.password" class="form-control" type="password" name="confirmsenha" id="confirmsenha"
                placeholder="Confirme sua senha">
            </div>

            <div class="form-group" style='text-align:left'>
                <label for="confirmsenha">Tipo de Usuário:</label>
                <select (change)="tipoUser($event)" class="form-control" name="tipo" id="tipo">
                    <option>Selecione um tipo de usuário:</option>
                    <option value="normal">Normal</option>
                    <option value="adm">Administrador</option>
                </select>
            </div>

              <!-- Checkbox -->

              <hr class="my-2">

              <button class="btn btn-info btn-lg mr-4 ml-4" type="submit" (click)="register()">Cadastrar!</button>
              <button class="btn btn-danger btn-lg mr-4 ml-4" routerLink='/login'>Cancelar</button>

              <hr class="my-2">


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="img col-md-6" id="img-bg">
  <img src="https://imgur.com/gCAA80Y.png" alt="Imagem Login" width="600" height="600" />
</div>
</div>
</div>

