<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Cadastro</h3>

              <div class="form-group">
                <label for="nome">Nome</label>
                <input class="form-control" type="text" name="nome" id="nome"
                        placeholder="Seu nome">
              </div>

              <div class="form-group">
                <label for="usuario">Usuário</label>
                <input class="form-control" type="text" name="usuario" id="usuario"
                placeholder="Seu usuário">
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input class="form-control" type="password" name="senha" id="senha"
                placeholder="Sua senha">
            </div>

            <div class="form-group">
                <label for="confirmsenha">Confirmar Senha</label>
                <input class="form-control" type="password" name="confirmsenha" id="confirmsenha"
                placeholder="Confirme sua senha">
            </div>

            <div class="form-group">
                <label for="confirmsenha">Tipo de Usuário</label>
                <select class="form-control" name="tipo" id="tipo">
                    <option>Selecione um tipo de usuário:</option>
                    <option value="normal">Normal</option>
                    <option value="adm">Administrador</option>
                </select>
            </div>

              <!-- Checkbox -->

              <hr class="my-4">

              <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar!</button>
              <button class="btn btn-danger btn-lg btn-block" routerLink='/login'>Cancelar</button>

              <hr class="my-4">


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

