  <section class="vh-70 bg-color">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">


          <div class="col-md-8">

            <form class="border border-white rounded">

              <h3 class="fw-normal ml-5 mr-5 mb-3 mt-3 text-center rounded-bottom text-info">Bem Vindo</h3>

              <div class="form-outline mb-4 ml-3 mr-3 pt-3">
                <input [(ngModel)]="userLogin.email" type="email" id="email" name="email" class="form-control form-control-lg border border-info" />
                <label class="form-label" for="form2Example18">Email</label>
              </div>

              <div class="form-outline mb-4 ml-3 mr-3">
                <input [(ngModel)]="userLogin.password" type="password" name="password" id="password" class="form-control form-control-lg border border-info" />
                <label class="form-label" for="form2Example28">Senha</label>
              </div>

              <div class="mb-4 ml-3 text-center">
                <button class="btn btn-info btn-lg border border-info" type="submit" (click)="entrar()">Entrar</button>
              </div>
              <p class="ml-5 ">Não tem conta ? <a routerLink = '/register' class="link-info">Cadastre-se aqui.</a></p>

            </form>

          </div>

        </div>
        <div class="container-fluid col-6 p-0">
          <img class="img-fluid" src="https://media.discordapp.net/attachments/913140182071521283/939146570589429770/pexels-photo-7869453.png" alt="Bem Vindo">
        </div>
      </div>
    </div>
  </section>

