<div class="container-fluid  bg-edit-topic">

    <div class="row">
      <div class="col-md-12 mt-5">
        <h1 class="text-center text-primary mt-5">Atualizar Tópico</h1>
      </div>
    </div>
  
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
  
        <div class="form-group mt-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" [(ngModel)]='topic.name'>
        </div>
        
        <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" class="form-control" id="description" [(ngModel)]='topic.description'>
          </div>
  
        <div class="d-flex justify-content-center mb-5">
          <button class="btn btn-outline-danger mr-4" [routerLink]="['/topic',idTopic]">Cancelar</button>
          <button class="btn btn-outline-primary" (click)='update()'>Atualizar</button>
        </div>
  
      </div>
    </div>
  
  </div>