<div class="container-fluid tamanho">

    <div class="row mb-5">
      <div class="col-md-12">
        <h1 class="text-center text-secondary mt-5">Apagar Tópico</h1>
      </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
          <h4 class="text-center text-secondary">Você tem certeza que deseja apagar esse tópico? Todas as postagens relacionadas a ele serão igualmente apagadas.</h4>
        </div>
      </div>
    
      <div class="row mb-4">
        <div class="col-md-12">
            <h5 class="text-center text-secondary"> Nome: <span class="text-danger">{{topic.name}}</span>  </h5>
            <h5 class="text-center text-secondary"> Descrição: <span class="text-danger">{{topic.description}}</span>  </h5>
        </div>
      </div>
    
      <div class="row mb-5">
        <div class="col-md-12 d-flex justify-content-center">
          <button class="btn btn-outline-danger mr-4" [routerLink]="['/topic',idTopic]" >Não</button>
          <button class="btn btn-outline-info" (click)='delete()'>Sim</button>
        </div>
      </div>
    
    
    </div>