<div class="html d-flex">

  <div class="container body">

    <div class="container tamanho">

      <div class="row loginResponsive">

        <div class="d-flex justify-content-center align-items-center" *ngIf="!authService.logado()">

        <div class="col-md-6">

          <form class="mt-5 rounded">

            <h3 class="text-center">Dearnews</h3>

            <div class="form-outline mb-0 ml-3 mr-3 pt-3">
              <input [(ngModel)]="userLogin.email" type="email" id="email" name="email" class="form-control form-control-lg border border-info" />
              <label class="form-label" for="form2Example18">Email</label>
            </div>

            <div class="form-outline mb-0 ml-3 mr-3">
              <input [(ngModel)]="userLogin.password" type="password" name="password" id="password" class="form-control form-control-lg border border-info" />
              <label class="form-label" for="form2Example28">Senha</label>
            </div>

            <div class="mb-1 ml-3 text-center">
              <button class="btn btn-info btn-lg border border-info" type="submit" (click)="entrar()">Entrar</button>
            </div>
            <p class="border border-top-0 text-center"><button class="mt-0 ml-3 mb-2 btn btn-secondary btn-lg"><a class="text-white" routerLink = '/register'>Cadastre-se</a></button></p>

          </form>

        </div>



          <div class="container-fluid col-md-6 img-inicio">
            <img class="img-fluid" src="https://imgur.com/ccLFWzZ.png" alt="Bem Vindo">
          </div>


        </div>

      </div>



      <div class="row corFundo d-flex align-items-center" *ngIf="authService.logado()">

          <div class="col-md-12 mt-5">

            <div class="d-flex justify-content-center">
              <img src="/assets/images/logo.png" alt="" class="img-fluid">
          </div>
            
            <div class="row d-flex justify-content-center mt-4">
                      <h4>Qual foi a melhor noticia que você viu hoje ?</h4>
              </div>

              <div class="row d-flex justify-content-center mt-2">
                      <button class="btn btn-outline-info" data-toggle="modal" data-target="#staticBackdrop">Nova Postagem</button>
              </div>

          </div>

      </div>
    </div>



    <div class="container justify-content-center" id="postagens">

      <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

          <a class="nav-link active text-secondary font-weight-bold " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">FEED </a>

        </div>

      </nav>

      <div class="tab-content mt-5" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

          <div class="d-flex justify-content-center w-100">

            <input [(ngModel)]="titlePosts" (keyup)='findByTitle()' class="form-control mr-sm-2 w-50 mb-5 rounded-pill" type="search" placeholder="Pesquisar" aria-label="Search">

          </div>


          <div class="card mt-3 bg-user1" *ngFor='let item of listPost  | orderBy  : key : reverse'>

            <div class="row ml-0 mb-0 mt-0">

              <div class="col-md-2 p-0 h-25 ml-0 rounded bg-user">

                <div class="row img-profile-post">
                  <img src="{{item.userModel.photo}}" alt="perfil" class="img-fluid img-profile float-left rounded mt-2 border border-white w-50 h-50">
                </div>


                <div class="row mt-2 justify-content-start">
                  <p class="card-text text-uppercase user-name border-bottom">{{item.userModel.name}} :</p>
                </div>

              </div>

              <div class="border-info border-bottom col-md-9 mr-0 mb-2 ml-0 p-0 mt-2">

                <h5 class="card-title text-left text-uppercase mt-2 mb-0 f-title text-info">{{item.title}}</h5>

                <p class="text-left mt-0 f-tema"><small>Tema: {{item.topic.name}}</small></p>




                  <img class="col-md-12 img-fluid" src="{{item.image}}" alt="Imagem da publicação">

                  <p class="col-md-12 card-text text-justify">{{item.text}}</p>




                <p class="card-text"><small>{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</small></p>
              </div>


            </div>
          </div>

        </div>


      </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered text-center container-fluid d-flex">
          <div class="modal-content text-info modal-post border">
              <div class="modal-header">
                  <h4 class="modal-title text-primary" id="staticBackdropLabel">COMPARTILHE UMA DEARNEWS</h4>
              </div>
              <div class="modal-body">

                  <div class="form-group">
                      <label for="titulo">TÍTULO</label>
                      <input [(ngModel)]="post.title" type="text" class="form-control" id="titulo">
                  </div>

                  <div class="form-group">
                      <label for="titulo">TEXTO</label>
                      <textarea [(ngModel)]='post.text' class="form-control" name="texto" id="texto" rows="8" placeholder="Qual a Melhor noticia que você viu hoje ?"></textarea>
                  </div>

                  <div>
                    <label for="">ADICIONE UM LINK DA IMAGEM :</label>
                    <textarea [(ngModel)]='post.image' class="form-control" name="link" id="link" rows="2" placeholder="Link imagem da publicação .PNG OU .JPEG"></textarea>

                  </div>

                  <div class="form-group">
                    <label for="tema">Selecione uma categoria ou <a data-dismiss="modal"  [routerLink]="['/topic',idTopic]">Cadastre uma nova</a></label>
                    <select class="form-control" name="tema" id="tema" [(ngModel)]="idTopic" (change)='findByIdTopic()'>
                      <option *ngFor='let item of listTopic' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">Voltar</button>
                  <button type="button" class="btn btn-info" (click)='publicar()' data-dismiss="modal">Postar</button>
              </div>
          </div>
      </div>
    </div>

  </div>


</div>

