@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

.tamanho{
  height: 56vh;
}

.html{
  background: rgb(1, 9, 20);
  color: rgb(255, 255, 255);

}


.img-profile{
  height: 150px;
  weight : 150px;
}

.user-name{
  font-family: 'PT Sans Narrow', sans-serif;
}

.f-title{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.f-tema{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.f-text{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;

}

.bg-user1{
  background: rgb(2, 17, 39);

}

.bg-user{

  background: rgb(2, 17, 39);

}

.modal{
  color: rgb(2, 17, 39);
}

.img-post{
  max-width:50%;
  height: auto;

}
