<div class="html">

  <div class="container body">

    <div class="container tamanho">

      <div class="row pt-5 pb-0 mb-0">

        <div class="d-flex justify-content-center align-items-center px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5" *ngIf="!authService.logado()">

        <div class="col-md-6">

          <form class="mt-5 border border-dark rounded">

            <h3 class="fw-normal ml-5 mr-5 mb-3 mt-3 text-center rounded-bottom text-white" style="letter-spacing: 1px;">Bem Vindo</h3>

            <div class="form-outline mb-4 ml-3 mr-3 pt-3">
              <input [(ngModel)]="userLogin.email" type="email" id="email" name="email" class="form-control form-control-lg border border-dark" />
              <label class="form-label" for="form2Example18">Email</label>
            </div>

            <div class="form-outline mb-4 ml-3 mr-3">
              <input [(ngModel)]="userLogin.password" type="password" name="password" id="password" class="form-control form-control-lg border border-dark" />
              <label class="form-label" for="form2Example28">Senha</label>
            </div>

            <div class="mb-4 ml-3 text-center">
              <button class="btn btn-primary btn-lg border border-dark" type="submit" (click)="entrar()">Entrar</button>
            </div>
            <p class="ml-5 ">Não tem conta ? <a routerLink = '/register' class="link-info">Cadastre-se aqui.</a></p>

          </form>

        </div>



          <div class="col-md-6">
            <img class="img-fluid" src="https://imgur.com/GKFu0L0.png" alt="Bem Vindo">
          </div>


        </div>

      </div>



      <div class="row corFundo d-flex align-items-center" *ngIf="authService.logado()">

          <div class="col-md-6">

              <div class="row d-flex justify-content-center">
                  <div class="col-md-6">
                      <h1>Compartilhe Boas Noticias..</h1>
                      <h4>Qual foi a melhor noticia que você viu hoje ?</h4>
                  </div>
              </div>

              <div class="row d-flex justify-content-center mt-2 mb-4">
                  <div class="col-md-6">
                      <button class="btn btn-outline-dark mr-2" data-toggle="modal" data-target="#staticBackdrop" *ngIf="authService.logado()">Nova Postagem</button>
                      <a class="btn btn-outline-dark ml-2 mt-2" href="#postagens">Ver Postagens</a>
                  </div>
              </div>

          </div>

          <div class="col-md-6 d-flex justify-content-center">
              <img src="https://imgur.com/8pDwXWm.png" alt="" width="600px" height="600px">
          </div>

      </div>
    </div>



    <div class="container" id="postagens">

      <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

          <a class="nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">FEED </a>

        </div>

      </nav>
      <div class="tab-content mt-5" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

          <div class="d-flex justify-content-center w-100">

            <input [(ngModel)]="titlePosts" (keyup)='findByTitle()' class="form-control mr-sm-2 w-50 mb-5 rounded-pill" type="search" placeholder="Pesquisar" aria-label="Search">

          </div>


          <div class="card mt-3 bg-user1" *ngFor='let item of listPost'>

            <div class="row ml-3 mt-3">

              <div class="col-md-2 h-25 border border-dark rounded bg-user">
                <img src="{{item.userModel.photo}}" alt="perfil" class="img-fluid img-profile float-left rounded-circle mt-2 border border-white">
                <p class="card-text text-center text-uppercase user-name">{{item.userModel.name}}</p>
              </div>

              <div class="col-md-8 mb-2 ml-5 border border-dark">
                <h5 class="card-title text-center text-uppercase mt-2 mb-0 f-title">{{item.title}}</h5>
                <p class="text-left mt-0 f-tema"><small>Tema: {{item.topic.name}}</small></p>
                <img class="img-fluid img-post" src="{{item.image}}" alt="Imagem da publicação">
                <p class="card-text text-justify f-text">{{item.text}}</p>
                <p class="card-text"><small class="text-body">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</small></p>
              </div>


            </div>
          </div>

        </div>


      </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="staticBackdropLabel">Faça sua postagem...</h4>
              </div>
              <div class="modal-body">

                  <div class="form-group">
                      <label for="titulo">Título</label>
                      <input [(ngModel)]="post.title" type="text" class="form-control" id="titulo" placeholder="Digite o título da postagem...">
                  </div>

                  <div class="form-group">
                      <label for="titulo">Texto</label>
                      <textarea [(ngModel)]='post.text' class="form-control" name="texto" id="texto" rows="8"></textarea>
                  </div>

                  <div>
                    <label for="">Adicione uma Imagem* : <input type="text" [(ngModel)]='post.image'></label>
                  </div>

                  <div class="form-group">
                    <label for="tema">Selecione a categoria <a data-dismiss="modal" routerLink="/topic">(cadastrar categoria...)</a></label>
                    <select class="form-control" name="tema" id="tema" [(ngModel)]="idTopic" (change)='findByIdTopic()'>
                      <option *ngFor='let item of listTopic' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>



              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1" data-dismiss="modal">Voltar</button>
                  <button type="button" class="btn btn2" (click)='publicar()' data-dismiss="modal">Postar</button>
              </div>
          </div>
      </div>
    </div>

  </div>


</div>

