<div class="row d-flex justify-content-center corFundo">
    <div class="col-md-6">

        <h1 class="text-center mt-4">Atualizando conta...</h1>

        <hr class="mt-1 mb-3">

        <form>
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.name"  type="text" name="nome" class="form-control" id="nome"
                    placeholder="Digite o nome aqui....">
                <label for="nome">Nome</label>
            </div>
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.email" type="text" name="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.photo" type="text" name="foto" class="form-control" id="foto"
                    placeholder="Insira link da foto aqui...(opcional)">
                <label for="foto">Foto de perfil</label>
            </div>
            <div class="form-floating mb-3">
                <input (input)="confirmaSenha($event)" type="password" class="form-control" id="senha"
                    placeholder="Digite a senha aqui...">
                <label for="senha">Senha</label>
            </div>
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.password" type="password" name="confirmarSenha" class="form-control" id="confirmaSenha"
                    placeholder="Digite a senha aqui...">
                <label for="confirmaSenha">Confirmar senha</label>
            </div>

            <div class="form-group">
                <label for="tipo">Tipo de usuário</label>
                <select (change)="tipoUser($event)" class="form-control" name="tipo" id="tipo">
                    <option>Selecione um tipo de usuário</option>
                    <option value="normal">Normal</option>
                    <option value="adm">Administrador</option>
                </select>
            </div>

            <hr class="mt-1 mb-3">

            <div class="d-flex justify-content-center mb-4">
                <button class="btn btn-outline-danger text-uppercase mr-4 ml-4" routerLink="/inicio">Cancelar</button>
                <button (click)="atualizar()" class="btn btn-outline-success text-uppercase mr-4 ml-4">Atualizar</button>
            </div>

        </form>
    </div>