<div class="container-fluid">

  <div class="row bg-secondary">
    <div class="col-md-12 text-white">

      <a routerLink='/inicio' class="text-white text-left">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> início
      </a>

      <h1 class="fs-54 text-center">Tópicos</h1>
      <h5 class="fs-18 text-center">Veja aqui todos os tópicos cadastrados ou cadastre um novo:</h5>

      <div class="row d-flex justify-content-center mt-4 mb-5">
        <div class="col-md-3">
          <div class="form-group">
            <input [(ngModel)]='topic.name' type="text" class="form-control" id="name" placeholder="Digite o nome do tópico">
          </div>
          
          <div class="form-group">
            <input [(ngModel)]='topic.description' type="text" class="form-control" id="description" placeholder="Digite a descrição do tópico">
          </div>

          <div class="form-check d-flex justify-content-start mb-4">
            <input
            [(ngModel)]='topic.savePost'
              class="form-check-input"
              type="checkbox"
              value=""
              id="savePost"
            />
            <label class="form-check-label" for="savePost"> Salvar Tópico </label>
          </div>

          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-light" (click)='register()'>Cadastrar</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="row mt-0 mb-0">
    <div class="col-md-12 px-2 py-5">
      <h2 class="text-center text-secondary mb-5">Todos os Tópicos</h2>
    
          <select name="topic" id="topic" class="form-control" [(ngModel)]='idTopic' (change)='findByIdTopic()'>
    
            <option *ngFor='let item of listaTopic' value="{{item.id}}">{{item.name}}</option>
    
          </select>
    
        </div>
    
      </div>

    </div>