@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');


.menu-user{
  height: 60vh;
  position: fixed;
  top: 15vh;
  left: 0;
  border-top-right-radius:    4em 4em;
  border-bottom-right-radius:    4em 4em;
  background: rgb(1, 9, 20);
}

a{
  cursor: pointer;
}

.profile-name{
  font-size: 25px;
  font-family: 'Teko', sans-serif;
  float: bottom !important;
  color : #fff;
}

.font-menu{
  font-family: 'Teko', sans-serif;
  color: aliceblue;
}

.edit-perfil{
  font-size: 15px;
}

.img-profile{
  border-top-right-radius:    4em 4em;
  border-bottom-right-radius:    4em 4em;
}
