<div class="col-1 d-flex flex-column justify-content-between mt-4 menu-user border border-info sticky-top" >

  <ul class="nav flex-sm-column ">

    <li class="nav-item mt-5 rounded-circle">

      <img src="{{this.authService.foto()}}" alt="" class="img-fluid border border-white img-profile">
    </li>

    <li class="nav-item">

      <div class="row mb-0 d-flex justify-content-center text-center">

        <i class="far fa-user text-white mt-3"></i>
        <p class="profile-name mb-0">{{this.authService.nome()}}</p>

      </div>

      <a class="d-flex justify-content-center text-light edit-perfil" [routerLink]="['/edit-user', id]"><p>Editar Perfil <i class="far fa-edit"></i></p></a>

    </li>

  </ul>

  <div class="text-justify">

    <p><a class="font-weight-bold text-left font-menu" [routerLink]="['/inicio']"><i class="fas fa-home"></i> Inicio</a></p>

    <p><a class="font-weight-bold text-left font-menu" [routerLink]="['/topic', id]"><i class="far fa-bookmark"></i> Tópicos</a></p>

    <p><a class="font-weight-bold text-left font-menu" [routerLink]="['/my-posts', id]"><i class="far fa-keyboard"></i> Minhas Postagens</a></p>

  </div>

  <div class="text-center">


    <a class="mb-2 font-weight-bold text-light" (click)='sair()' >Sair <i class="fas fa-sign-out-alt"></i></a>
  </div>


</div>




