<div class="col-1 d-flex flex-column justify-content-between text-center mt-4 ml-2 bg-primary menu-user" >

  <ul class="nav flex-sm-column ">
    <li class="nav-item mt-5">
      <img src="{{this.authService.foto()}}" alt="" class="img-fluid rounded">
    </li>
    <li class="nav-item mt-5">
      <p class="m-0 font-weight-bold text-light fs-16">Olá, {{this.authService.nome()}}</p>
    </li>
    <li class="nav-item mt-5">
      <a [routerLink]="['/user-edit', id]"><p class="text-light fs-16 m-0">Editar Perfil <i class="far fa-edit"></i></p></a>
    </li>

  </ul>

  <div class="container mb-5 mt-5 " id="postagens">

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false" (click)='myPosts()'>Minhas Postagens</a>

    </div>

  </nav>

  </div>


    <a class="mb-2 font-weight-bold text-light fs-16 " (click)='sair()' >SAIR <i class="fas fa-sign-out-alt"></i></a>

</div>




