<footer class="footer text-center text-dark bg-secondary">

    <div class="align-items-center container-fluid text-center p-4 font-weight-bold">
        © 2022 Dear News Social Media

          <a mdbRipple rippleColor="dark" class="btn-lg m-1 corTitulo text-left"
          href="https://github.com/DearNews" target="_blank"><i class="fab fa-github" title="Github"></i></a>


          <a mdbRipple rippleColor="dark" class="btn-lg m-1 corTitulo justify-content-end"
          role="button"  routerLink='/contact'><i class="fas fa-envelope" title="Fale conosco"></i></a>


          <a mdbRipple rippleColor="dark" class="btn-lg m-1 corTitulo justify-content-end"
          role="button" routerLink='/about-us' title="Sobre-nós"><i class="fas fa-address-card"></i></a>


    </div>
</footer>
