<footer class="text-center text-white" style="background-color: #0026ffc0;">

    <hr class="mt-0">

    <div class="container-fluid pt-4">
        <section class=" d-flex justify-content-center mb-4">

            <a mdbRipple rippleColor="dark" class="btn-lg m-1 corTitulo"
                href="https://github.com/geovanig" target="_blank"><i class="fab fa-github"></i></a>


            <a mdbRipple rippleColor="dark" class="btn-lg m-1 corTitulo"
                href="https://www.linkedin.com/in/geovanigleidson/" role="button" target="_blank"><i class="fas fa-envelope"></i></a>


            <a mdbRipple rippleColor="dark" class="btn-lg m-1 corTitulo"
                href="https://geovanigleidson.netlify.app/" role="button" target="_blank"><i class="fas fa-address-card"></i></a>

        </section>
    </div>

    <div class="container-fluid text-center text-white p-4 font-weight-bold"
        style="background-color: rgba(0, 88, 66, 0.342);">
        © 2022 Copyright: Dear News Social Media
    </div>

</footer>