.corTitulo{
    color: rgb(200, 221, 217);
}

.fab{
   font-size: 1.5rem;
   padding-left: 1.6rem;
   padding-right: 1.6rem;
}

.fas{
    font-size: 1.5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
 }

.fa-github:hover{
    color: #fff;

}

.fa-envelope:hover{
    color: #fff;

}

.fa-address-card:hover{
    color: #fff;

}


