<footer class="footer text-center text-white bg-secondary">

    <div class="container-fluid text-center text-white p-4 font-weight-bold bg-dark">
        © 2022 Copyright: Dear News Social Media
    </div>

    <div class="container-fluid text-center text-white p-4 font-weight-bold bg-dark">
      <a mdbRipple rippleColor="dark" class="btn-lg m-1 corTitulo"
      href="https://github.com/DearNews" target="_blank"><i class="fab fa-github"></i></a>


      <a mdbRipple rippleColor="dark" class="btn-lg m-1 corTitulo"
      role="button"  routerLink='/contact'><i class="fas fa-envelope"></i></a>


      <a mdbRipple rippleColor="dark" class="btn-lg m-1 corTitulo"
      role="button" routerLink='/about-us'><i class="fas fa-address-card"></i></a>
    </div>

</footer>
