  <div class="container-fluid bg-color">
    <div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-6" id='img-bg'></div>
  <div class="col-md-6 mt-5 mb-5 bg-color">
<div class="container bg-color">
	<div class="row justify-content-center bg-color">
		<div class="col-12 col-md-8 col-lg-6 pb-5 bg-color">


                    <!--Form with header-->

                    <form action="https://api.staticforms.xyz/submit" method="post">

                      <input type="hidden" name="accessKey" value="36b881c3-6860-4f84-b44c-936bfe357eb4">
                      <input type="hidden" name="redirectTo" value="http://localhost:4200">

                        <div class="card border-info rounded-4 bg-color">
                            <div class="card-header p-0">
                                <div class="bg-info text-white text-center py-2">
                                    <h3><i class="fa fa-envelope"></i> Contate-nos</h3>
                                    <p class="m-0">Teremos prazer em atende-lo</p>
                                </div>
                            </div>
                            <div class="card-body p-3">

                                <!--Body-->
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-info"><i class="bg-info fa fa-user text-white"></i></div>
                                        </div>
                                        <input type="text" class="form-control bg-color text-white" id="nome" name="nome" placeholder="Nome" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-info"><i class=" bg-info fa fa-envelope text-white"></i></div>
                                        </div>
                                        <input type="email" class="form-control bg-color" id="nome" name="email" placeholder="exemplo@gmail.com" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-info"><i class="bg-info fa fa-comment text-white"></i></div>
                                        </div>
                                        <textarea class="form-control bg-color" placeholder="Envie a sua mensagem" required></textarea>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <input type="submit" value="Enviar" class="btn btn-submit btn-info rounded-2 py-2">
                                </div>
                            </div>

                        </div>
                    </form>
                    <!--Form with header-->


                </div>
	</div>
</div>
</div>
</div>


