<div class="bg-back">
  <div class="container-fluid col-md-12 text-center tamanho d-flex justify-content-center align-items-center">

    <div class="col-md-6 border">

        <div id="historia" class="row justify-content-center">
            <div class="col-md-8 justify-content-center">
                <h3 class="text-center text-white mb-3 mt-5 font-weight-bold"> Dear News </h3>
                <h4 class="text-left text-white mt-5 mb-5">
                    Dear News é uma rede social criada por 5 desenvolvedores brasileiros, afim de formar uma rede que compartilhe boas noticias, uma ação incomum afim de combater a disseminação do ódio e noticias ruins muito comum nos jornais e noticiários , PAZ, JUSTIÇA E INSTITUIÇÕES EFICAZES é a grande proposta desta rede social, pois observando os problemas atuais da humanidade nossos queridos "dev's" resolveram focar na proposta numero 16 da ONU, que tem como objetivo promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável, proporcionar o acesso a justiça para todos e construir instituições eficazes, responsáveis e inclusivas a todos os níveis.
                </h4>
            </div>
        </div> 

    </div>

    <div class="col-6 border">

        <div class="row justify-content-center">
            <section class="sessao-tecnologia" id="tecnologia">
                <div class="sessao-header">
                    <h1 class="text-white">Tecnologias</h1>
                </div>
                    <div class="tecnologia">
                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#Java">
                            <img src="https://img.shields.io/badge/Java-ED8B00?style=for-the-badge&logo=java&logoColor=white" alt="java">
                            </a>
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#TS">
                            <img src="https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white" alt="ts">
                        </a>
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#html">
                            <img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" alt="html">
                            </a>
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#css">
                            <img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" alt="css">
                            </a>
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#Angular">
                            <img src="https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white" alt="angular">
                            </a>   
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#Bootstrap">
                            <img src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white" alt="bootstrap">
                            </a>   
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#MySQL">
                            <img src="https://img.shields.io/badge/MySQL-00000F?style=for-the-badge&logo=mysql&logoColor=white" alt="mysql">
                            </a>   
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#Spring">
                            <img src="https://img.shields.io/badge/Spring-6DB33F?style=for-the-badge&logo=spring&logoColor=white" alt="spring">
                            </a>   
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#PostegreSQL">
                            <img src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white" alt="postgresql">
                            </a>   
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#Heroku">
                            <img src="https://img.shields.io/badge/Heroku-430098?style=for-the-badge&logo=heroku&logoColor=white" alt="heroku">
                            </a>   
                        </div>

                        <div class="tecnologia-header">
                            <a data-toggle="modal" data-target="#Netlify">
                            <img src="https://img.shields.io/badge/Netlify-00C7B7?style=for-the-badge&logo=netlify&logoColor=white" alt="netlify">
                            </a>   
                        </div>

                    </div>
            </section>
        

        </div>
    </div>
</div>

<div class="modal fade" id="Java" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="JavaLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="JavaLabel">Java</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit sapiente, explicabo provident nostrum aperiam consectetur non iste incidunt autem nisi voluptas exercitationem dicta aliquam, quis nulla possimus quasi blanditiis.</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="TS" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="TSLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="TSLabel">TypeScript</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit numquam nam incidunt deleniti tempora blanditiis sint perspiciatis omnis! Asperiores illo in nam veritatis distinctio assumenda atque neque tenetur modi at.</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="html" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="htmlLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="htmlLabel">HTML 5</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nostrum animi porro quidem laboriosam soluta praesentium quae. Accusamus corporis ipsa odio perspiciatis animi consectetur illum blanditiis ratione mollitia! Nesciunt, adipisci.</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="css" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="cssLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="cssLabel">CSS 3</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptatem voluptates inventore tempore enim, eligendi nobis recusandae maxime similique eos excepturi doloremque quidem et quasi quis. Exercitationem eligendi dolor sunt.</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="Angular" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="AngularLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="AngularLabel">Angular</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione mollitia consequatur corporis rem alias. Magnam assumenda voluptatem vero consequuntur ipsa quasi provident dolor cum laboriosam. Dignissimos est numquam eum?</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="Bootstrap" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="BootstrapLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="BootstrapLabel">Bootstrap</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione mollitia consequatur corporis rem alias. Magnam assumenda voluptatem vero consequuntur ipsa quasi provident dolor cum laboriosam. Dignissimos est numquam eum?</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="MySQL" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="MySQLLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="MySQLLabel">MySQL</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione mollitia consequatur corporis rem alias. Magnam assumenda voluptatem vero consequuntur ipsa quasi provident dolor cum laboriosam. Dignissimos est numquam eum?</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="Spring" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="SpringLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="SpringLabel">Spring</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione mollitia consequatur corporis rem alias. Magnam assumenda voluptatem vero consequuntur ipsa quasi provident dolor cum laboriosam. Dignissimos est numquam eum?</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="PostegreSQL" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="PostegreSQLLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="PostegreSQLLabel">PostegreSQL</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione mollitia consequatur corporis rem alias. Magnam assumenda voluptatem vero consequuntur ipsa quasi provident dolor cum laboriosam. Dignissimos est numquam eum?</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="Heroku" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="HerokuLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="HerokuLabel">Heroku</h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                  <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione mollitia consequatur corporis rem alias. Magnam assumenda voluptatem vero consequuntur ipsa quasi provident dolor cum laboriosam. Dignissimos est numquam eum?</label>
              </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="Netlify" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="NetlifyLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title text-center" id="NetlifyLabel">Netlify</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
                <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione mollitia consequatur corporis rem alias. Magnam assumenda voluptatem vero consequuntur ipsa quasi provident dolor cum laboriosam. Dignissimos est numquam eum?</label>
            </div>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
          </div>
      </div>
  </div>
</div>




<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
        <h3 class="text-center text-white mb-3 font-weight-bold">
             Nosso time
        </h3>
    </div>

    <div class="col-md-12 row mt-5 justify-content-around">



        <div class="row col-md-12 kard">
        <div class="card mb-3 cardclr">
            <div class="row no-gutters">
              <div class="col-md-4 d-flex justify-content-start">
                <img src="https://github.com/geovanig.png" alt="Geovani" class="img-fluid img-thumbnail"/>
              </div>
              <div class="col text-center">
                <div class="card-body">
                  <h5 class="card-title">Geovani Gleidson</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text text-gray"><small>Desenvolvedor Web JR</small></p>
        
                    <a class="btn-lg m-1"
                    href="https://github.com/geovanig" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                    <a class="btn-lg"
                    href="https://www.linkedin.com/in/geovanigleidson/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>

                </div>
              </div>
            </div>
          </div>
        </div> 

        <div class="row col-md-12 kard ">
        <div class="card mb-3 cardclr">
            <div class="row no-gutters">  
              <div class="col-md-8">
                <div class="card-body text-center">
                  <h5 class="card-title">Jhonatan Medeiros</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Desenvolvedor Web JR</small></p>
                  <a class="btn-lg m-1"
                    href="https://github.com/JhonMeddev" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                    <a class="btn-lg"
                    href="https://www.linkedin.com/in/jhonatanmedeiros/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <img src="https://i.imgur.com/mhpjwvL.jpg" alt="Jhonatan" class="img-fluid img-thumbnail"/>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-md-12 kard"> 
        <div class="card mb-3 cardclr">
            <div class="row no-gutters">
              <div class="col-md-4 d-flex justify-content-start">
                <img src="https://media-exp1.licdn.com/dms/image/D4D35AQFeMTGBFGlQjQ/profile-framedphoto-shrink_800_800/0/1639404000902?e=1644415200&v=beta&t=Xau_aizs16onBpEc068PO0qTQBvSYAF29yeMKLenlyg" alt="Lucas" class="img-fluid img-thumbnail"/>
              </div>
              <div class="col-md-8">
                <div class="card-body text-center">
                  <h5 class="card-title">Lucas Nunes</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Desenvolvedor Web JR</small></p>
                  <a class="btn-lg m-1"
                  href="https://github.com/Lnunes1" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                  <a class="btn-lg"
                  href="https://www.linkedin.com/in/lucas-nunes2/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-md-12 kard"> 
        <div class="card mb-3 cardclr">
            <div class="row no-gutters">  
              <div class="col-md-8">
                <div class="card-body text-center">
                  <h5 class="card-title">Rubem Martins</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Desenvolvedor Web JR</small></p>
                  <a class="btn-lg m-1"
                    href="https://github.com/RubemMartins" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                    <a class="btn-lg"
                    href="https://www.linkedin.com/in/rubemmartins/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <img src="https://github.com/RubemMartins.png" alt="Rubem" class="img-fluid img-thumbnail"/>
              </div>
            </div>
          </div>
        </div>

          <div class="row col-md-12 kard"> 
          <div class="card mb-3 cardclr">
            <div class="row no-gutters">
              <div class="col-md-4 d-flex justify-content-start">
                <img src="https://github.com/VitorLorena.png" alt="Vitor" class="img-fluid img-thumbnail"/>
              </div>
              <div class="col-md-8">
                <div class="card-body text-center">
                  <h5 class="card-title">Vitor Lorena</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Desenvolvedor Web JR</small></p>
                  <a class="btn-lg m-1"
                        href="https://github.com/VitorLorena" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                        <a class="btn-lg"
                        href="https://www.linkedin.com/in/vitor-lorena/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>

</div>
