.tamanho{
  min-height: 100vh;
}

.bg-back{
    background: rgb(1, 9, 20);
}

.modal-content{
  color: rgb(2, 17, 39);
}


.fab{
  font-size: 20pt;
  color: gray;
  padding: 5px;
}

.fa-github:hover{
  color:  #171515;
}

.fa-linkedin:hover{
  color: #0072b1;
}

.voltar{
  border-color: black;
  color: black;
}
.voltar:hover{
  border-color: black;
  color: black;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.cardclr{
  background: rgb(2, 17, 39);

}

img{
  max-width:50%;
  height: auto;

}

.card:hover{
  background: rgb(57, 133, 247);
  color: black;
}

.card{
  color: white;
}

.kard:hover{
  transform: scale(1.1);
  transition: 1s;
  opacity: 1;
}

.tecnologia-header:hover{
  transform: scale(1.1);
  transition: 1s;
  opacity: 1;
  background: white;
}
