
<div class="container-fluid text-center">
    <div id="historia" class="row mt-5 mp-5 justify-content-center">
        <div class="col-md-8 justify-content-center">
            <h3 class="text-center text-primary mb-3 font-weight-bold"> Dear News </h3>
            <h4 class="text-center">
                Dear News é uma rede social criada por 5 desenvolvedores brasileiros, afim de formar uma rede que compartilhe boas noticias, uma ação incomum afim de combater a disseminação do ódio e noticias ruins muito comum nos jornais e noticiários , PAZ, JUSTIÇA E INSTITUIÇÕES EFICAZES é a grande proposta desta rede social, pois observando os problemas atuais da humanidade nossos queridos "dev's" resolveram focar na proposta numero 16 da ONU, que tem como objetivo promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável, proporcionar o acesso a justiça para todos e construir instituições eficazes, responsáveis e inclusivas a todos os níveis.
            </h4>
        </div>
</div>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
        <h3 class="text-center text-primary mb-3 font-weight-bold">
             Nosso time
        </h3>
    </div>

    <div class="col-md-12 row mt-5 mb-5 justify-content-around">


          <div class="col-md-2 d-flex justify-content-around align-items-center">

              <a href="https://github.com/geovanig" target="_blank">
              <img
              src="https://github.com/geovanig.png"
              alt="Geovani"
              class="rounded-circle img-fluid img-thumbnail "
              height="100" width="100"/>
              </a>
          </div>

          <div class="col-md-2 d-flex justify-content-center align-items-center">

              <a href="https://github.com/JhonMeddev" target="_blank">
              <img
              src="https://github.com/JhonMeddev.png"
              alt="Jhonatan"
              class="rounded-circle img-fluid img-thumbnail"
              height="100" width="100"/>
              </a>
          </div>

          <div class="col-md-2 d-flex justify-content-center align-items-center">

              <a href="https://github.com/Lnunes1" target="_blank">
              <img
              src="https://github.com/Lnunes1.png"
              alt="Lucas"
              class="rounded-circle img-fluid img-thumbnail"
              height="100" width="100"/>
              </a>
          </div>

          <div class="col-md-2 d-flex justify-content-center align-items-center">

              <a href="https://github.com/RubemMartins" target="_blank">
              <img
              src="https://github.com/RubemMartins.png"
              alt="Rubem"
              class="rounded-circle img-fluid img-thumbnail"
              height="100" width="100"/>
              </a>
          </div>

          <div class="col-md-2 d-flex justify-content-center align-items-center">

              <a href="https://github.com/VitorLorena" target="_blank">
              <img
              src="https://github.com/VitorLorena.png"
              alt="Vitor"
              class="rounded-circle img-fluid img-thumbnail"
              height="100" width="100"/>
              </a>
          </div>
      </div>

  </div>
</div>
