<div class="bg-back">
  <div class="container-fluid text-center tamanho">
    <div id="historia" class="row justify-content-center">
        <div class="col-md-8 justify-content-center">
            <h3 class="text-center text-white mb-3 mt-5 font-weight-bold"> Dear News </h3>
            <h4 class="text-left text-white mt-5 mb-5">
                Dear News é uma rede social criada por 5 desenvolvedores brasileiros, afim de formar uma rede que compartilhe boas noticias, uma ação incomum afim de combater a disseminação do ódio e noticias ruins muito comum nos jornais e noticiários , PAZ, JUSTIÇA E INSTITUIÇÕES EFICAZES é a grande proposta desta rede social, pois observando os problemas atuais da humanidade nossos queridos "dev's" resolveram focar na proposta numero 16 da ONU, que tem como objetivo promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável, proporcionar o acesso a justiça para todos e construir instituições eficazes, responsáveis e inclusivas a todos os níveis.
            </h4>
        </div>
</div>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
        <h3 class="text-center text-white mb-3 font-weight-bold">
             Nosso time
        </h3>
    </div>

    <div class="col-md-12 row mt-5 justify-content-around">


          <div class="col-md-2 d-flex justify-content-around align-items-center">

              <a data-toggle="modal" data-target="#Geovani">
              <img
              src="https://github.com/geovanig.png"
              alt="Geovani"
              class="rounded-circle img-fluid img-thumbnail "
              height="100" width="100"/>
              </a>
          </div>

          <div class="col-md-2 d-flex justify-content-around align-items-center">

              <a data-toggle="modal" data-target="#Jhonatan">
              <img
              src="https://github.com/JhonMeddev.png"
              alt="Jhonatan"
              class="rounded-circle img-fluid img-thumbnail"
              height="100" width="100"/>
              </a>
          </div>

          <div class="col-md-2 d-flex justify-content-around align-items-center">

              <a data-toggle="modal" data-target="#Lucas">
              <img
              src="https://github.com/Lnunes1.png"
              alt="Lucas"
              class="rounded-circle img-fluid img-thumbnail"
              height="100" width="100"/>
              </a>
          </div>

          <div class="col-md-2 d-flex justify-content-around align-items-center">

              <a data-toggle="modal" data-target="#Rubem">
              <img
              src="https://github.com/RubemMartins.png"
              alt="Rubem"
              class="rounded-circle img-fluid img-thumbnail"
              height="100" width="100"/>
              </a>
          </div>

          <div class="col-md-2 d-flex justify-content-around align-items-center">

              <a data-toggle="modal" data-target="#Vitor">
              <img
              src="https://github.com/VitorLorena.png"
              alt="Vitor"
              class="rounded-circle img-fluid img-thumbnail"
              height="100" width="100"/>
              </a>
          </div>
      </div>

  </div>
</div>

<div class="modal fade" id="Geovani" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="GeovaniLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="GeovaniLabel">Geovani Gleidson</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit sapiente, explicabo provident nostrum aperiam consectetur non iste incidunt autem nisi voluptas exercitationem dicta aliquam, quis nulla possimus quasi blanditiis.</label>
                </div>

                <div class="row col-md-12 d-flex justify-content-center align-items-center">
        
                    <a class="btn-lg m-1"
                    href="https://github.com/geovanig" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                    <a class="btn-lg"
                    href="https://www.linkedin.com/in/geovanigleidson/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    
            </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="Jhonatan" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="JhonatanLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="JhonatanLabel">Jhonatan Medeiros</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit numquam nam incidunt deleniti tempora blanditiis sint perspiciatis omnis! Asperiores illo in nam veritatis distinctio assumenda atque neque tenetur modi at.</label>
                </div>

                <div class="row col-md-12 d-flex justify-content-center align-items-center">
        
                    <a class="btn-lg m-1"
                    href="https://github.com/JhonMeddev" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                    <a class="btn-lg"
                    href="https://www.linkedin.com/in/jhonatanmedeiros/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    
            </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="Lucas" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="LucasLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="LucasLabel">Lucas Nunes</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nostrum animi porro quidem laboriosam soluta praesentium quae. Accusamus corporis ipsa odio perspiciatis animi consectetur illum blanditiis ratione mollitia! Nesciunt, adipisci.</label>
                </div>

                <div class="row col-md-12 d-flex justify-content-center align-items-center">
        
                    <a class="btn-lg m-1"
                    href="https://github.com/Lnunes1" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                    <a class="btn-lg"
                    href="https://www.linkedin.com/in/lucas-nunes2/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    
            </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="Rubem" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="RubemLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="RubemLabel">Rubem Martins</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptatem voluptates inventore tempore enim, eligendi nobis recusandae maxime similique eos excepturi doloremque quidem et quasi quis. Exercitationem eligendi dolor sunt.</label>
                </div>

                <div class="row col-md-12 d-flex justify-content-center align-items-center">
        
                    <a class="btn-lg m-1"
                    href="https://github.com/RubemMartins" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                    <a class="btn-lg"
                    href="https://www.linkedin.com/in/rubemmartins/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    
            </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="Vitor" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="VitorLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" id="VitorLabel">Vitor Lorena</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="descrição">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione mollitia consequatur corporis rem alias. Magnam assumenda voluptatem vero consequuntur ipsa quasi provident dolor cum laboriosam. Dignissimos est numquam eum?</label>
                </div>

                <div class="row col-md-12 d-flex justify-content-center align-items-center">
        
                        <a class="btn-lg m-1"
                        href="https://github.com/VitorLorena" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>

                        <a class="btn-lg"
                        href="https://www.linkedin.com/in/vitor-lorena/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn1 voltar" data-dismiss="modal">Voltar</button>
              </div>
          </div>
      </div>
    </div>


</div>
