@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

.html{
  font-family: 'PT Sans Narrow', sans-serif;
}

.bg-back{
    background: rgb(1, 9, 20);
}

.modal-content{
  color: rgb(2, 17, 39);
}


.fab{
  font-size: 20pt;
  color: gray;
  padding: 5px;
}

.fas{
  font-size: 20pt;
  color: gray;
  padding: 5px;
}

.fa-github:hover{
  color:  #171515;
}

.fa-linkedin:hover{
  color: #0072b1;
}

.fas:hover{
  color: #000000;
}

.voltar{
  border-color: black;
  color: black;
}
.voltar:hover{
  border-color: black;
  color: black;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.cardclr{
  background: rgb(2, 17, 39);

}

.img-group{

  height: 100%;
  width: 50%;

}

.card:hover{
  background: rgb(57, 133, 247);
  color: black;
}

.card{
  color: white;
}

.kard:hover{
  transform: scale(1.1);
  transition: 1s;
  opacity: 1;
}

.tecnologia-header:hover{
  transform: scale(1.1);
  transition: 1s;
  opacity: 1;
}




.inner-box{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0.1rem;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border-radius: 0.1rem;
}

.card-front{

background-position: center;
background-size: cover;
}


.backback{

  transform: rotateX(180deg);
}

.backfront{

  transform: rotateX(180deg);
}

.cardtec{
  max-width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  perspective: 1100px;
  cursor: default #000000;
}

.cardtec:hover .inner-box {
  transform: rotateX(-180deg);
}

.cardtec:hover span{
  transform: translateY(140px)
}

.cardback{
  background-image: url(https://imgur.com/5BGGSuh.png);
}

.cardfront{
  background-image: url(https://imgur.com/DFsXpKg.png);

}


